{% extends 'base.html.twig' %}


{% block body %}
    {{ parent() }}
    <body>
    <section class="homepage-container">
        <div class="homepage-container-concept">
            <div class="homepage-container-concept-img">
                <img src="{{ asset('./imgs/alien3.png') }}" alt="">
            </div>
            <div class="homepage-container-concept-text">
                <h2 class="homepage-container-concept-text-title">
                    le concept
                </h2>
                <p class="homepage-container-concept-text-details">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur
                </p>
            </div>
        </div>
    </section>

    <section class="homepage-container">
        <div class="homepage-container-rules">
            <h2 class="homepage-container-rules-title">quelques règles du jeu</h2>
            <p class="homepage-container-rules-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in. Lorem ipsum dolor sit amet, </p>
            <p class="homepage-container-rules-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in. Lorem ipsum dolor sit amet, </p>
            <p class="homepage-container-rules-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quidem reprehenderit ducimus est dolore incidunt, cum expedita maxime animi excepturi sint, quisquam debitis eveniet aspernatur a perspiciatis velit nobis in. Lorem ipsum dolor sit amet, </p>
            <p class="homepage-container-rules-see-more"><a class="homepage-container-rules-see-more" href="#">En savoir plus</a></p>
        </div>
    </section>

    <footer class="homepage-container">
        <div class="homepage-container-footer">
            <p class="homepage-container-footer-copyright">La Ligue Intergalactique des Combats d’Aliens - 2018 copyright </p>
        </div>
    </footer>


{% endblock %}