<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="../assets/imgs/favicon.png"/>
        <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    {% endblock %}
</head>
{% block body %}
<body>
    <header class="header">
        <img class="header-logo" src="../assets/imgs/logo.png" alt="Logo L.I.C.A">
        <nav class="header-nav">
            <div id="burger-open" class="header-nav-burger">
                <div class="header-nav-burger-item"></div>
            </div>
            <div id="burger" class="header-nav-modal inactive">
                <div class="header-nav-modal-head">
                    {% if is_granted('ROLE_USER') %}
                    <a href="./userPage" class="header-nav-modal-user">Pseudo</a><a href='./logout'>Logout</a>
                    {% else %}
                    <a href="./loginUser" class="header-nav-modal-user">Se connecter/S'inscrire</a>
                    {% endif %}
                    <img id="burger-close" class="header-nav-modal-cross" src="../assets/imgs/close.png" alt="Cross menu">
                </div>
                <ul class="header-nav-list">
                    <li class="header-nav-list-item"><a class="header-nav-list-item-link" href="./">Accueil</a></li>
                    <li class="header-nav-list-item"><a class="header-nav-list-item-link" href="./fightPage">Paris et Combats</a></li>
                    <li class="header-nav-list-item"><a class="header-nav-list-item-link" href="./bestiaire">Adoptions</a></li>
                    <li class="header-nav-list-item"><a class="header-nav-list-item-link" href="./rules">Règlements L.I.C.A</a></li>
                    {% if is_granted('ROLE_USER') %}
                    <li class="header-nav-list-item"><a class="header-nav-list-item-connect" href="./userPage">Pseudo</a></li><li><a href='./logout'>Logout</a></li>
                    {% else %}
                    <li class="header-nav-list-item"><a class="header-nav-list-item-connect" href="./loginUser">Se connecter/S'inscrire</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
<div class="back-to-top"><i class="fas fa-chevron-up"></i></div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/scripts/burger.js') }}"></script>
    <script src="{{ asset('/scripts/smoothScroll.js') }}"></script>
{% endblock %}
</body>
</html>