{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
<div class="userbackground">
<section class="profile-info">
    <div class="profile-info-picture">
        <img src="https://www.halopedia.org/images/thumb/8/8f/Halo4_Master-Chief-05.png/300px-Halo4_Master-Chief-05.png" alt="profile picture">
    </div>

    <div class="profile-info-information">
        <div class="profile-info-information-flex">
            <h2 class="profile-info-information-username-h2">Masterchief</h2>
            <a href="">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <p class="profile-info-information-date">JJ/MM/YY</p>
        <div class="profile-info-information-flex edit">
            <p class="profile-info-information-description">“Lorem ipsum dolor sit amet,  consectetur adipiscing elit.  Crasdfs dfsodfoijiejr nmsoi,uoi snurtlmis,ro sunomrituvsoirutn,ms irunt oiusoi,tu"</p>
            <a href="">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <div class="profile-info-information-money">
            <p class="profile-info-information-money-amount">150,000</p>
            <img src="../assets/imgs/space-coin.png" alt="edit">
        </div>
        <p><a href="#" class="margin-fix link">recharger ses space coins</a></p>
        <div class="profile-info-information-flex edit">
            <p class="profile-info-information-email">Email@mail.com</p>
            <a href="#">
                <img src="../assets/imgs/pencil-edit.png" alt="edit">
            </a>
        </div>
        <a href="#" class="margin-fix link">changer son mot de passe ?</a>
    </div>
</section>

<section class="battleswon">
    <div class="battleswon-wins">
        <p><span>10</span> Wins</p>
    </div>
    <div class="battleswon-loses">
        <p><span>3</span> Defeats</p>
    </div>
</section>

<section class="combat-history">
    <div class="combat-history-container">
        <h2 class="combat-history-title">Historique des combats</h2>
        <i class="fas fa-caret-down"></i>
    </div>
</section>


<section class="combat-history history-payment">
    <div class="combat-history-container">
        <h2 class="combat-history-title">Historique des paiements</h2>
        <i class="fas fa-caret-down"></i>
    </div>
</section>

<section class="profile-aliens">
    <div>
        <h2 class="profile-aliens-title">Mes Aliens</h2>
    </div>

    <div class="profile-aliens-alien-card">
        <div class="profile-aliens-alien-card-img">
            <img src="https://vignette.wikia.nocookie.net/halo/images/9/9a/HReach_-_Mgalekgolo.png/revision/latest?cb=20120127031859" alt="">
        </div>
    </div>

    <div class="profile-aliens-alien-card">
        <div class="profile-aliens-alien-card-img">
            <img src="https://vignette.wikia.nocookie.net/halo/images/9/9a/HReach_-_Mgalekgolo.png/revision/latest?cb=20120127031859" alt="">
        </div>
    </div>
</section>
</div>
{% endblock %}
