{% if is_granted('ROLE_USER') %}
    Connecté
{% else %}
    Pas connecté
{% endif %}

{% if error %}
    <div>Mauvais pseudo ou mot de passe.</div>
{% endif %}

<form action="{{ path('loginUser') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <button type="submit">login</button>
</form>