@font-face {
  font-family: 'Oswald-Regular';
  src: url("../../assets/fonts/Oswald-Regular.ttf"); }
@font-face {
  font-family: 'Oswald-Light';
  src: url("../../assets/fonts/Oswald-Light.ttf"); }
@font-face {
  font-family: 'Oswald-Bold';
  src: url("../../assets/fonts/Oswald-Bold.ttf"); }
@font-face {
  font-family: 'BeautyAndTheBeast';
  src: url("../../assets/fonts/BeautyandtheBeast.ttf.woff"); }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000; }

body {
  background: #0F0F0F; }

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  width: 100%;
  padding: 2.5rem 1.5rem 0 1.5rem;
  font-style: italic; }
  @media (min-width: 1200px) {
    .header {
      height: 10rem;
      padding: 2.5rem 2rem 0 5rem; } }
  .header-logo {
    width: 5.8rem;
    height: 2.7rem; }
    @media (min-width: 1200px) {
      .header-logo {
        width: 11.6rem;
        height: 5.4rem; } }
  .header-nav {
    height: 3rem;
    position: relative; }
    .header-nav-burger {
      width: 3rem;
      height: 3rem; }
      @media (min-width: 1200px) {
        .header-nav-burger {
          display: none;
          width: 0;
          height: 0; } }
      .header-nav-burger-item {
        width: 2rem;
        height: 0.2rem;
        border-radius: 1rem;
        background: #fefefe;
        position: relative; }
        .header-nav-burger-item::before, .header-nav-burger-item::after {
          content: '';
          position: absolute;
          width: 2rem;
          height: 0.2rem;
          border-radius: 1rem;
          background: #fefefe;
          top: 0.75rem; }
        .header-nav-burger-item::after {
          top: 1.5rem; }
    .header-nav-modal {
      position: absolute;
      width: 70vw;
      height: 100vh;
      left: 15vw;
      top: -2.5rem;
      background: rgba(0, 0, 0, 0.5);
      padding: 2.5rem 5rem;
      transition: transform .3s linear; }
      @media (min-width: 1200px) {
        .header-nav-modal {
          position: relative;
          top: 0;
          left: 0;
          height: 100%;
          background: none;
          transition: none;
          width: 60vw; } }
      .header-nav-modal-head {
        display: flex;
        justify-content: space-between; }
        @media (min-width: 1200px) {
          .header-nav-modal-head {
            display: none; } }
      .header-nav-modal-user {
        color: #d8d8d8;
        font-size: 1.4rem;
        line-height: 2.5rem; }
      .header-nav-modal-cross {
        width: 2.5rem;
        height: 2.5rem; }
    .header-nav-list {
      margin-top: 20vh; }
      @media (min-width: 1200px) {
        .header-nav-list {
          display: flex;
          justify-content: space-between;
          margin-top: 0; } }
      .header-nav-list-item {
        margin-bottom: 4rem; }
        .header-nav-list-item-link {
          font-size: 2.8rem;
          line-height: 4.2rem;
          color: #d8d8d8; }
          @media (min-width: 1200px) {
            .header-nav-list-item-link {
              font-size: 2.4rem;
              line-height: 1.5rem;
              color: #3aa89c;
              text-shadow: 2px 2px 20px #3aa89c; }
              .header-nav-list-item-link:hover {
                text-decoration: underline; } }
        .header-nav-list-item-connect {
          display: none; }
          @media (min-width: 1200px) {
            .header-nav-list-item-connect {
              display: block;
              margin-left: 3rem;
              font-size: 1.8rem;
              color: #3aa89c;
              text-shadow: 2px 2px 20px #3aa89c; }
              .header-nav-list-item-connect:hover {
                text-decoration: underline; } }
  .header-connect {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate3d(-50%, -50%, 0);
    width: 50vw;
    height: 40vh;
    background: #1a1a1a;
    color: #fefefe;
    border: 1px solid black;
    font-size: 3rem;
    line-height: 3.5rem;
    padding: 1rem;
    border-radius: 3%; }
    @media (min-width: 1200px) {
      .header-connect {
        display: flex;
        height: 25vh;
        width: 30vw; } }
    .header-connect-form {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto; }
      @media (min-width: 1200px) {
        .header-connect-form {
          padding: 1.5rem 6rem; } }
      .header-connect-form-input {
        width: 100%;
        border: 1px solid #fefefe;
        border-radius: 10%; }
      .header-connect-form-submit {
        margin: 1.5rem auto 0;
        border: 1px solid #fefefe;
        background: none;
        border-radius: 10%;
        color: #fefefe; }
        @media (min-width: 1200px) {
          .header-connect-form-submit:hover {
            color: #0F0F0F;
            background: #fefefe;
            border: 1px solid #0F0F0F;
            cursor: pointer; } }
    .header-connect-register {
      border-top: 1px solid #fefefe;
      text-align: center;
      width: 100%;
      margin-top: 2.5rem;
      padding: 2.5rem 0; }
      @media (min-width: 1200px) {
        .header-connect-register {
          border-left: 1px solid #fefefe;
          border-top: none;
          height: 80%;
          width: 35%;
          padding: 5rem 0; } }
      .header-connect-register-link {
        font-size: 1.8rem;
        border: 1px solid #fefefe;
        color: #fefefe;
        border-radius: 10%;
        padding: 0 1rem; }
        @media (min-width: 1200px) {
          .header-connect-register-link:hover {
            color: #0F0F0F;
            background: #fefefe;
            border: 1px solid #0F0F0F;
            cursor: pointer; } }

.active {
  transform: translateX(-80vw); }
  @media (min-width: 1200px) {
    .active {
      transform: none; } }

.inactive {
  transform: translateX(15vw); }
  @media (min-width: 1200px) {
    .inactive {
      transform: none; } }

.rules {
  color: #fefefe;
  padding: 0 6rem 6rem;
  background: #0F0F0F; }
  @media (min-width: 1200px) {
    .rules {
      padding: 0 15rem 6rem; } }
  .rules-title {
    padding: 12rem 5rem;
    text-align: center;
    width: 100%; }
    @media (min-width: 1200px) {
      .rules-title {
        padding: 16rem 10rem; } }
    .rules-title-item {
      height: 21.7rem;
      width: 20rem; }
      @media (min-width: 1200px) {
        .rules-title-item {
          height: 43.4rem;
          width: 40rem; } }
  .rules-fight-title, .rules-bet-title, .rules-adopt-title {
    margin: 0.8rem 0;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #3aa89c; }
    @media (min-width: 1200px) {
      .rules-fight-title, .rules-bet-title, .rules-adopt-title {
        font-size: 3rem;
        margin: 2rem 0; } }
  .rules-fight-text, .rules-bet-text, .rules-adopt-text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.8rem; }
    @media (min-width: 1200px) {
      .rules-fight-text, .rules-bet-text, .rules-adopt-text {
        font-size: 2.4rem;
        line-height: 2.6rem; } }

.bolder {
  font-weight: bold; }

.userbackground {
  background: url("../../assets/imgs/background1.png") #0F0F0F;
  background-size: cover;
  background-repeat: no-repeat; }

.profile-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding-top: 10rem; }
  .profile-info-picture {
    height: 20rem;
    width: 20rem; }
    .profile-info-picture img {
      height: 100%;
      width: 100%; }
  .profile-info-information {
    color: #FFF;
    text-align: right;
    background: none; }
    .profile-info-information-flex {
      display: flex;
      justify-content: flex-end; }
    .profile-info-information h2 {
      font-size: 3.2rem; }
      @media (min-width: 1200px) {
        .profile-info-information h2 {
          font-size: 4.5rem; } }
    .profile-info-information a {
      margin-left: 1rem; }
    .profile-info-information-date {
      margin: 2.8rem 3.1rem 0 0;
      font-size: 2.4rem; }
      @media (min-width: 1200px) {
        .profile-info-information-date {
          font-size: 2.4rem; } }
    .profile-info-information-description {
      font-size: 1.2rem;
      line-height: 1.5;
      font-family: 'Oswald-Light';
      width: 80%;
      margin: 2rem 0; }
      @media (min-width: 1200px) {
        .profile-info-information-description {
          font-size: 2.4rem; } }
    .profile-info-information-money {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2rem; }
      .profile-info-information-money-amount {
        font-size: 1.2rem;
        color: #FFE55C; }
        @media (min-width: 1200px) {
          .profile-info-information-money-amount {
            font-size: 2.4rem; } }
    .profile-info-information-email {
      font-size: 2.4rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem; }

.battleswon {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5rem auto; }
  @media (min-width: 1200px) {
    .battleswon {
      padding-top: 10rem;
      width: 50%; } }
  .battleswon-wins, .battleswon-loses {
    color: #3EB8AB; }
    .battleswon-wins p, .battleswon-wins span, .battleswon-loses p, .battleswon-loses span {
      text-transform: uppercase;
      font-size: 3rem; }
  .battleswon-loses {
    color: #A83A3A; }

.combat-history {
  text-align: center; }
  .combat-history-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .3rem solid;
    border-bottom-color: rgba(0, 0, 0, 0.8);
    height: 6rem;
    width: 70%;
    margin: 0 auto;
    cursor: pointer; }
    .combat-history-container i {
      margin-left: 1rem;
      color: #fff;
      font-size: 2.4rem; }
      @media (min-width: 1200px) {
        .combat-history-container i {
          font-size: 3rem; } }
  .combat-history-title {
    font-family: 'Oswald-Light';
    font-size: 2.4rem;
    color: #FFF; }
    @media (min-width: 1200px) {
      .combat-history-title {
        font-size: 3rem; } }
  .combat-history-overlay {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background: rgba(15, 15, 15, 0.8);
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%; }
    @media (min-width: 1200px) {
      .combat-history-overlay {
        width: 70%;
        font-size: 3rem; } }
    .combat-history-overlay-result {
      color: #fff;
      text-transform: uppercase; }
      .combat-history-overlay-result-title h2, .combat-history-overlay-result-title span {
        font-size: 2.4rem;
        margin-bottom: 3rem; }
        @media (min-width: 1200px) {
          .combat-history-overlay-result-title h2, .combat-history-overlay-result-title span {
            font-size: 3rem; } }
      .combat-history-overlay-result-win-lose {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0 2rem; }
        @media (min-width: 1200px) {
          .combat-history-overlay-result-win-lose {
            padding: 0 15rem; } }
        .combat-history-overlay-result-win-lose-1 span, .combat-history-overlay-result-win-lose-1 p {
          font-size: 1.2rem; }
          @media (min-width: 1200px) {
            .combat-history-overlay-result-win-lose-1 span, .combat-history-overlay-result-win-lose-1 p {
              font-size: 2.4rem; } }

.profile-aliens {
  margin-top: 3rem; }
  .profile-aliens-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFF; }
    @media (min-width: 1200px) {
      .profile-aliens-title {
        font-size: 3rem; } }
  .profile-aliens-cards {
    display: flex;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .profile-aliens-cards {
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%; } }
  .profile-aliens-alien-card {
    display: flex;
    justify-content: center;
    height: 40rem;
    width: 80%;
    margin: 5rem auto;
    background: rgba(0, 0, 0, 0.8); }
    @media (min-width: 1200px) {
      .profile-aliens-alien-card {
        width: 30%;
        flex-wrap: wrap; } }
    .profile-aliens-alien-card-img {
      margin-top: 5rem;
      height: 20rem;
      width: 15rem; }
      .profile-aliens-alien-card-img img {
        width: 100%;
        height: 100%; }

.profile-background {
  background: rgba(15, 15, 15, 0.4); }

.link {
  color: #3EB8AB;
  font-size: 1.2rem; }
  @media (min-width: 1200px) {
    .link {
      font-size: 2.4rem; } }

.edit img {
  margin-top: 2rem; }

.margin-fix {
  margin: 0 2.9rem 0 0; }

.homepage-background {
  background: #0F0F0F; }

.homepage-container {
  color: #FFF;
  width: 85%;
  margin: 0 auto; }
  .homepage-container-title {
    font-size: 3.2rem;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 5rem; }
    @media (min-width: 1200px) {
      .homepage-container-title {
        font-size: 4.5rem; } }
  .homepage-container-subtitle {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 1.5;
    font-family: 'oswald-light'; }
    @media (min-width: 1200px) {
      .homepage-container-subtitle {
        font-size: 3rem; } }
  .homepage-container-us-alien1-img {
    position: absolute;
    left: 0;
    width: 16.4rem;
    height: 27.5rem; }
    @media (min-width: 1200px) {
      .homepage-container-us-alien1-img {
        width: 37rem;
        height: 58rem;
        left: 10rem; } }
    .homepage-container-us-alien1-img img {
      height: 100%;
      width: 100%; }
  .homepage-container-us-text-title {
    text-align: right;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #3EB8AB;
    margin-bottom: 1rem; }
    @media (min-width: 1200px) {
      .homepage-container-us-text-title {
        font-size: 3rem;
        margin-bottom: 4rem; } }
  .homepage-container-us-text-details {
    font-family: 'Oswald-light';
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.5;
    width: 50%;
    margin-left: 50%; }
    @media (min-width: 1200px) {
      .homepage-container-us-text-details {
        font-size: 2.4rem; } }
  .homepage-container-concept {
    position: relative;
    margin-top: 8rem; }
    .homepage-container-concept-img {
      position: absolute;
      right: 0;
      width: 18rem;
      height: 20rem; }
      @media (min-width: 1200px) {
        .homepage-container-concept-img {
          width: 43rem;
          height: 41rem; } }
      .homepage-container-concept-img img {
        width: 100%;
        height: 100%; }
    .homepage-container-concept-text {
      text-align: left; }
      .homepage-container-concept-text-title {
        color: #3EB8AB;
        font-size: 2.4rem;
        margin-bottom: 1rem; }
        @media (min-width: 1200px) {
          .homepage-container-concept-text-title {
            font-size: 3rem; } }
      .homepage-container-concept-text-details {
        font-size: 1.2rem;
        line-height: 1.5;
        font-family: 'Oswald-light';
        width: 50%; }
        @media (min-width: 1200px) {
          .homepage-container-concept-text-details {
            font-size: 2.4rem; } }
  .homepage-container-rules {
    margin-top: 8.5rem;
    position: relative; }
    @media (min-width: 1200px) {
      .homepage-container-rules {
        margin-top: 15rem; } }
    .homepage-container-rules-title {
      color: #3EB8AB;
      font-size: 2.4rem;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
      text-align: center; }
      @media (min-width: 1200px) {
        .homepage-container-rules-title {
          font-size: 3rem;
          margin-bottom: 5rem; } }
    .homepage-container-rules-details {
      font-size: 1.2rem;
      line-height: 1.5;
      margin-bottom: .8rem;
      text-align: center; }
      @media (min-width: 1200px) {
        .homepage-container-rules-details {
          font-size: 2.4rem;
          text-align: center; } }
    .homepage-container-rules-see-more {
      font-size: 1.2rem;
      color: #3EB8AB;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1.5rem; }
      @media (min-width: 1200px) {
        .homepage-container-rules-see-more {
          font-size: 2.4rem; }
          .homepage-container-rules-see-more:hover {
            text-decoration: underline; } }
  .homepage-container-footer {
    margin-top: 5.5rem;
    margin-bottom: 3rem; }
    .homepage-container-footer-copyright {
      font-size: .8rem;
      text-transform: uppercase;
      text-align: center; }
      @media (min-width: 1200px) {
        .homepage-container-footer-copyright {
          font-size: 1.2rem; } }

@media (min-width: 1200px) {
  .homepage-fullpage {
    padding-top: 30rem; } }
.homepage-fullpage-alien2 {
  margin-top: 6rem; }
  .homepage-fullpage-alien2-img {
    height: 60%;
    width: 100%; }
    @media (min-width: 1200px) {
      .homepage-fullpage-alien2-img {
        height: 80%; } }
    .homepage-fullpage-alien2-img img {
      height: 100%;
      width: 100%; }
      @media (min-width: 1200px) {
        .homepage-fullpage-alien2-img img {
          content: url("../../assets/imgs/alien2desktop.png"); } }

.top-container {
  text-align: center;
  padding-top: 5rem;
  height: 100vh;
  width: 100vw;
  background: url("../../assets/imgs/backgroundhome.png") #0F0F0F;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill; }
  @media (min-width: 1200px) {
    .top-container {
      margin-bottom: 10rem; } }

.bestiaire-background {
  background: #0F0F0F; }

.bestiaire-header {
  background: url("../../assets/imgs/imgbestiaire.png") #0F0F0F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .bestiaire-header-title {
    font-size: 3.2rem;
    color: #FFF;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .bestiaire-header-title {
        font-size: 4.5rem; } }

.bestiaire-selection-scrolldown {
  text-align: center;
  width: 30%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    .bestiaire-selection-scrolldown {
      width: 10%; } }
  .bestiaire-selection-scrolldown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .3rem solid #FFF;
    cursor: pointer;
    color: #FFF;
    font-size: 2.4rem;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .bestiaire-selection-scrolldown-title {
        font-size: 3rem; } }
  .bestiaire-selection-scrolldown i {
    margin-left: 1rem;
    color: #fff;
    font-size: 2.4rem; }
    @media (min-width: 1200px) {
      .bestiaire-selection-scrolldown i {
        font-size: 3rem; } }
  .bestiaire-selection-scrolldown-menu {
    display: none;
    background: rgba(255, 255, 255, 0.4);
    text-align: left;
    color: #3EB8AB;
    text-transform: uppercase;
    font-size: 1.2rem; }
    @media (min-width: 1200px) {
      .bestiaire-selection-scrolldown-menu {
        font-size: 2.4rem; } }
    .bestiaire-selection-scrolldown-menu li {
      margin-bottom: .5rem;
      padding: .4rem; }
    .bestiaire-selection-scrolldown-menu li:first-child {
      margin-top: .5rem; }

.bestiaire-aliens {
  padding-top: 6rem;
  padding-bottom: 10rem; }
  .bestiaire-aliens-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 1200px) {
      .bestiaire-aliens-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto; } }
  .bestiaire-aliens-card {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 55%;
    background: #000;
    border-radius: 5%; }
    @media (min-width: 1200px) {
      .bestiaire-aliens-card {
        width: 30%; } }
    .bestiaire-aliens-card-img {
      margin-top: 5rem;
      height: 20rem;
      width: 15rem;
      background: #000; }
      .bestiaire-aliens-card-img img {
        width: 100%;
        height: 100%; }
    .bestiaire-aliens-card-details {
      margin-top: 2rem;
      margin-bottom: 3rem; }
      .bestiaire-aliens-card-details p {
        color: #FFF;
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase; }
        @media (min-width: 1200px) {
          .bestiaire-aliens-card-details p {
            font-size: 2.4rem; } }
      .bestiaire-aliens-card-details span {
        color: #FFF;
        font-size: 1.2rem;
        line-height: 1.5;
        text-transform: uppercase; }
        @media (min-width: 1200px) {
          .bestiaire-aliens-card-details span {
            font-size: 2.4rem; } }
    .bestiaire-aliens-card-adopter {
      margin-top: 1rem;
      font-size: 1.2rem;
      color: #3EB8AB;
      text-transform: uppercase; }
      @media (min-width: 1200px) {
        .bestiaire-aliens-card-adopter {
          font-size: 2.4rem; } }

.fight {
  color: #fefefe; }
  .fight-home {
    background: url("../../assets/imgs/combatetparismobile.png") #0F0F0F;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 50vh;
    padding: 20vh 0; }
    @media (min-width: 1200px) {
      .fight-home {
        background: url("../../assets/imgs/combatetparis.png") #0F0F0F;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 70vh;
        padding: 30vh 0; } }
    .fight-home-title {
      font-size: 5rem;
      line-height: 5.5rem;
      width: 30%;
      color: #fefefe;
      text-align: center;
      margin: 0 auto;
      font-family: 'BeautyAndTheBeast'; }
      @media (min-width: 1200px) {
        .fight-home-title {
          font-size: 6rem;
          line-height: 6.5rem;
          width: 10%; } }
      .fight-home-title-span {
        font-family: 'BeautyAndTheBeast';
        width: 100%;
        text-align: right; }
  .fight-content {
    background: #0F0F0F;
    padding: 3rem 0; }
    @media (min-width: 1200px) {
      .fight-content {
        padding: 6rem 0; } }
    .fight-content-planning {
      width: 80%;
      margin: 0 auto;
      position: relative;
      background: #1c1c1c;
      font-family: 'Oswald-Light';
      color: #fefefe;
      font-size: 3rem;
      text-align: center;
      padding: 1rem 0 2rem 0;
      border-radius: 1%; }
      @media (min-width: 1200px) {
        .fight-content-planning {
          width: 75%; } }
      .fight-content-planning-title {
        margin-bottom: 2rem;
        font-size: 2.4rem; }
        @media (min-width: 1200px) {
          .fight-content-planning-title {
            margin-bottom: 4rem;
            font-size: 3rem; } }
      .fight-content-planning-date {
        margin: 3rem 0 2rem 0;
        font-size: 1.5rem; }
        @media (min-width: 1200px) {
          .fight-content-planning-date {
            font-size: 2.4rem; } }
      .fight-content-planning-item {
        padding: 1.5rem 3rem;
        height: 10rem;
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-bottom: 1.2rem; }
        @media (min-width: 1200px) {
          .fight-content-planning-item {
            padding: 0 3rem;
            margin-bottom: 2.5rem;
            height: 12rem; } }
        .fight-content-planning-item-infos {
          width: 40%; }
          @media (min-width: 1200px) {
            .fight-content-planning-item-infos {
              display: flex;
              justify-content: space-around; } }
          .fight-content-planning-item-infos-img {
            display: none; }
            @media (min-width: 1200px) {
              .fight-content-planning-item-infos-img {
                display: block;
                width: 8rem;
                height: 10rem;
                background: #fefefe; } }
          .fight-content-planning-item-infos-text {
            font-size: 2.4rem;
            line-height: 2rem;
            text-align: center; }
            @media (min-width: 1200px) {
              .fight-content-planning-item-infos-text {
                font-size: 2.8rem;
                line-height: 2.8rem;
                width: 30%; } }
        .fight-content-planning-item-button {
          color: #3aa89c;
          border: 1px solid #3aa89c;
          border-radius: 10rem;
          margin: .5rem auto 0;
          width: 60%; }
          @media (min-width: 1200px) {
            .fight-content-planning-item-button {
              width: 100%;
              cursor: pointer; }
              .fight-content-planning-item-button:hover {
                color: #fefefe;
                background: #3aa89c; } }
        .fight-content-planning-item-vs {
          font-size: 4rem;
          color: #3aa89c;
          margin-top: 1.5rem; }
          @media (min-width: 1200px) {
            .fight-content-planning-item-vs {
              font-size: 6rem; } }
      .fight-content-planning-request {
        border-top: 1.2rem solid #0F0F0F;
        margin-top: 2rem;
        padding-top: 2rem;
        width: 100%; }
        .fight-content-planning-request-title {
          margin-bottom: 2rem;
          font-size: 2.4rem; }
          @media (min-width: 1200px) {
            .fight-content-planning-request-title {
              margin-bottom: 4rem;
              font-size: 3rem; } }
        .fight-content-planning-request-item {
          padding: 1.5rem 3rem;
          height: 10rem;
          display: flex;
          justify-content: space-around;
          position: relative;
          margin-bottom: 1.2rem; }
          @media (min-width: 1200px) {
            .fight-content-planning-request-item {
              margin-bottom: 2.5rem;
              padding: 0 3rem;
              height: 12rem; } }
          .fight-content-planning-request-item-infos {
            width: 40%;
            font-size: 2.4rem;
            line-height: 2rem;
            text-align: center; }
            @media (min-width: 1200px) {
              .fight-content-planning-request-item-infos {
                display: flex;
                justify-content: space-around; } }
            .fight-content-planning-request-item-infos-img {
              display: none; }
              @media (min-width: 1200px) {
                .fight-content-planning-request-item-infos-img {
                  display: block;
                  width: 8rem;
                  height: 10rem;
                  background: #fefefe; } }
            .fight-content-planning-request-item-infos-text {
              font-size: 2.4rem;
              line-height: 2rem;
              text-align: center; }
              @media (min-width: 1200px) {
                .fight-content-planning-request-item-infos-text {
                  font-size: 2.8rem;
                  line-height: 2.8rem;
                  width: 30%; } }
          .fight-content-planning-request-item-vs {
            font-size: 4rem;
            color: #3aa89c; }
            @media (min-width: 1200px) {
              .fight-content-planning-request-item-vs {
                font-size: 6rem; } }
        .fight-content-planning-request-button {
          font-size: 1.8rem;
          line-height: 2.5rem;
          text-align: center;
          text-decoration: underline; }
          @media (min-width: 1200px) {
            .fight-content-planning-request-button {
              cursor: pointer;
              font-size: 2.4rem;
              line-height: 5rem; }
              .fight-content-planning-request-button:hover {
                color: #3aa89c; } }
  .fight-reverse {
    flex-direction: row-reverse; }

* {
  box-sizing: border-box;
  font-family: 'Oswald-Regular'; }

body {
  overflow-x: hidden; }

.back-to-top {
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background: #3EB8AB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .back-to-top {
      height: 5.5rem;
      width: 5.5rem;
      font-size: 4rem; } }

.win {
  color: #3EB8AB; }

.lose {
  color: #A83A3A; }

/*# sourceMappingURL=styles.css.map */
