// FONTS
@font-face {
  font-family: 'Oswald-Regular';
  src: url('../../assets/fonts/Oswald-Regular.ttf');
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('../../assets/fonts/Oswald-Light.ttf');
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('../../assets/fonts/Oswald-Bold.ttf');
}

@font-face {
  font-family: 'BeautyAndTheBeast';
  src: url('../../assets/fonts/BeautyandtheBeast.ttf.woff');
}
// VARIABLES
@import 'variables/variables';

// MIXINS
@import 'components/reset';
@import 'variables/variables';
@import 'mixins/forsize';

// COMPONENTS
@import 'components/header';
@import 'components/rulesPage';
@import 'components/userPage';
@import 'components/homePage';
@import 'components/bestiaire';
@import 'components/fightPage';

* {
  box-sizing: border-box;
  font-family: 'Oswald-Regular';
}

.back-to-top {
  position: fixed;
  bottom: 2.5rem;
  right: 1.5rem;
  height: 3.5rem;
  width: 3.5rem;
  background: #3EB8AB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  @include for-size(desktop-up){
    height: 5.5rem;
    width: 5.5rem;
    font-size: 4rem;
  }
}