.bestiaire-background {
  background: #0F0F0F;
}

.bestiaire-header {
  background: url("../../assets/imgs/imgbestiaire.png") #0F0F0F;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &-title {
    font-size: $largeTitle;
    letter-spacing: .8rem;
    text-shadow: 1px 1px 5px #fefefe;
    color: #FFF;
    text-transform: uppercase;
    @include for-size(desktop-up) {
      font-size: $desktopLargeTitle;
    }
  }
}

.bestiaire-selection {
  &-scrolldown {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    @include for-size(desktop-up) {
      width: 10%;
    }
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: .3rem solid #FFF;
      cursor: pointer;
      color: #FFF;
      font-size: $title;
      text-transform: uppercase;
      margin-top: 3rem;
      @include for-size(desktop-up) {
        font-size: $desktopTitle;
      }
    }
    & i {
      margin-left: 1rem;
      color: #fff;
      font-size: $title;
      @include for-size(desktop-up) {
        font-size: $desktopTitle;
      }
    }
    &-menu {
      display: none;
      background: rgba(#fff, 0.4);
      text-align: left;
      color: $green;
      text-transform: uppercase;
      font-size: $details;
      @include for-size(desktop-up) {
        font-size: $desktopDetails;
      }
      & li {
        margin-bottom: .5rem;
        padding: .4rem;
        @include for-size(desktop-up) {
          &:hover {
            background: rgba(#fff, 0.9);
            cursor: pointer;
          }
        }
      }
      & li:first-child {
        margin-top: .5rem;
      }
    }
  }
}

.bestiaire-aliens {
  padding-bottom: 10rem;
  position: relative;
  &-modal {
    display: none;
    color: #fefefe;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    background: #0F0F0F;
    &-content {
      width: 60vw;
      height: 70vh;
      margin: 15vh auto 0;
      @include for-size(desktop-up) {
        width: 60vw;
        margin: 15vh auto 5rem;
      }
      &-cross {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 2rem;
      }
      &-img {
        height: 20rem;
        width: 15rem;
        margin: 0 auto 3rem;
        @include for-size(desktop-up) {
          height: 30rem;
          width: 22.5rem;
        }
        &-item {
          width: 100%;
          height: 100%;
        }
      }
      &-infos {
        width: 100%;
        padding: 0 20%;
        @include for-size(desktop-up) {
          padding: 0 30%;
        }
        &-race {
          font-size: $title;
          line-height: 3.6rem;
          border-bottom: 1px solid #fefefe;
          margin-bottom: 1rem;
          @include for-size(desktop-up) {
            margin-bottom: 2rem;
          }
        }
        &-origin {
          font-size: 1.6rem;
          line-height: 2.4rem;
          border-bottom: 1px solid #fefefe;
          margin-bottom: 1rem;
          @include for-size(desktop-up) {
            margin-bottom: 1.5rem;
          }
        }
        &-height, &-weight {
          font-size: $details;
          line-height: 1.8rem;
        }
        &-description {
          font-size: $details;
          line-height: 1.8rem;
          border-top: 1px solid #fefefe;
          margin-top: 1rem;
          @include for-size(desktop-up) {
            margin-top: 1.5rem;
          }
        }
        &-price {
          font-size: 1.8rem;
          line-height: 2.7rem;
          border-top: 1px solid #fefefe;
          margin-top: 1rem;
          @include for-size(desktop-up) {
            margin: 2rem 0 4rem;
          }
        }
      }
    }
  }
  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include for-size(desktop-up) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
    }
  }
  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60%;
    height: 55%;
    background: #000;
    border-radius: 5%;
    margin-top: 4rem;
    @include for-size(desktop-up) {
      width: 30%;
    }
    &-img {
      margin-top: 5rem;
      height: 20rem;
      width: 15rem;
      background: #000;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &-details {
      margin-top: 2rem;
      margin-bottom: 3rem;
      & p {
      color: #FFF;
      font-size: $details;
      line-height: 1.5;
        @include for-size(desktop-up) {
          font-size: $desktopDetails;
        }
      }
      & span {
        color: #FFF;
        font-size: $details;
        line-height: 1.5;
        text-transform: uppercase;
        @include for-size(desktop-up) {
          font-size: $desktopDetails;
        }
      }
    }
    &-adopter, &-button {
      margin-top: 1.5rem;
      font-size: $details;
      color: $green;
      text-align: center;
      text-transform: uppercase;
      @include for-size(desktop-up) {
        font-size: $desktopDetails;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}

.bestiaire-aliens-card-adopter-overlay {
  display: none;
  position: absolute;
  height: 5rem;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFF;
  border-radius: 5%;
  &-title {
    font-size: $details;
    text-align: center;
    @include for-size(desktop-up) {
      font-size: $desktopDetails;
    }
  }
  &-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    @include for-size(desktop-up) {
      padding: 0 5rem;
    }
  }
  &-button {
    background: $green;
    border: none;
  }
}




.is-open {
 display: block;
}
