.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  width: 100%;
  padding: 2.5rem 1.5rem 0 1.5rem;
  font-style: italic;
  @include for-size(desktop-up) {
    height: 10rem;
    padding: 2.5rem 2rem 0 5rem;
  }
  &-logo {
    width: 5.8rem;
    height: 2.7rem;
    @include for-size(desktop-up) {
      width: 11.6rem;
      height: 5.4rem;
    }
  }
  &-nav {
    height: 3rem;
    position: relative;
    &-burger {
      width: 3rem;
      height: 3rem;
      @include for-size(desktop-up) {
        display: none;
        width: 0;
        height: 0;
      }
      &-item {
        width: 2rem;
        height: 0.2rem;
        border-radius: 1rem;
        background: #fefefe;
        position: relative;
        &::before, &::after {
          content: '';
          position: absolute;
          width: 2rem;
          height: 0.2rem;
          border-radius: 1rem;
          background: #fefefe;
          top: 0.75rem;
        }
        &::after {
          top: 1.5rem;
        }
      }
    }
    &-modal {
      position: absolute;
      width: 70vw;
      height: 100vh;
      left: 15vw;
      top: -2.5rem;
      background: rgba(0,0,0, 0.5);
      padding: 2.5rem 5rem;
      transition: transform .3s linear;
      @include for-size(desktop-up) {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        background: none;
        transition: none;
        width: 60vw;
      }
      &-head {
        display: flex;
        justify-content: space-between;
        @include for-size(desktop-up) {
          display: none;
        }
      }
      &-user {
        color: #d8d8d8;
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
      &-cross {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    &-list {
      margin-top: 20vh;
      @include for-size(desktop-up) {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
      }
      &-item {
        margin-bottom: 4rem;
        &-link {
          font-size: 2.8rem;
          line-height: 4.2rem;
          color: #d8d8d8;
          @include for-size(desktop-up) {
            font-size: $title;
            line-height: 1.5rem;
            color: #3aa89c;
            text-shadow: 2px 2px 20px #3aa89c;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        &-connect {
          display: none;
          @include for-size(desktop-up) {
            display: block;
            margin-left: 3rem;
            font-size: 1.8rem;
            color: #3aa89c;
            text-shadow: 2px 2px 20px #3aa89c;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.active {
  transform: translateX(-80vw);
  @include for-size(desktop-up) {
    transform: none;
  }
}
.inactive {
  transform: translateX(15vw);
  @include for-size(desktop-up) {
    transform: none;
  }
}