.rules {
  color: #fefefe;
  padding: 0 6rem 6rem;
  background: #0F0F0F;
  @include for-size(desktop-up) {
    padding: 0 15rem 6rem;
  }
  // TITLE
  &-title {
    padding: 12rem 5rem;
    text-align: center;
    width: 100%;
    @include for-size(desktop-up) {
      padding: 16rem 10rem;
    }
    &-item {
      height: 21.7rem;
      width: 20rem;
      @include for-size(desktop-up) {
        height: 43.4rem;
        width: 40rem;
      }
    }
  }
  // FIGHT RULES
  &-fight, &-bet, &-adopt {
    &-title {
      margin: 0.8rem 0;
      font-size: $title;
      line-height: 3.6rem;
      color: #3aa89c;
      @include for-size(desktop-up) {
        font-size: $desktopTitle;
        margin: 2rem 0;
      }
    }
    &-text {
      margin-top: 0.5rem;
      font-size: $details;
      line-height: 1.8rem;
      @include for-size(desktop-up) {
        font-size: $title;
        //margin-bottom: 1.5rem;
        line-height: 2.6rem;
      }
    }
  }
}

.bolder {
  font-weight: bold;
}