.userbackground {
  background: url("../../assets/imgs/background1.png") #0F0F0F;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-info {
  width: 90%;
  margin: 0 auto;
  padding-top: 15rem;
  @include for-size(desktop-up) {
    display: flex;
    width: 70%;
    padding: 20rem 0 0 5%;
  }
  &-picture {
    height: 20rem;
    width: 20rem;
    box-shadow: 1px 1px 10px #3aa89c;
    margin: 0 auto;
    @include for-size(desktop-up) {
      margin: 0;
    }
    & img {
      height: 100%;
      width: 100%;
    }
  }
  &-information {
    color: #FFF;
    background: none;
    padding: 4rem 8rem 0;
    @include for-size(desktop-up) {
      padding: 0 0 0 5rem;
    }
    &-flex {
      display: flex;
    }
    & h2 {
      font-size: $largeTitle;
      @include for-size(desktop-up) {
        font-size: $desktopLargeTitle;
      }
    }
    & a {
      margin: .8rem 0 0 1rem;
    }
    &-date {
      margin: 2.8rem 3.1rem 0 0;
      font-size: $title;
      @include for-size(desktop-up) {
        font-size: $title;
      }
    }
    &-description {
      font-size: $details;
      line-height: 1.5;
      font-family: 'Oswald-Light';
      width: 80%;
      margin: 2rem 0;
      @include for-size(desktop-up) {
        font-size: $desktopDetails;
      }
    }
    &-money {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      &-amount {
        font-size: $details;
        color: $yellow;
        @include for-size(desktop-up) {
          font-size: $desktopDetails;
        }
      }
    }
    &-email {
      font-size: 2.4rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}

// BATTLES WON AND DEFEATS

.battleswon {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 5rem auto;
  @include for-size(desktop-up) {
    padding-top: 10rem;
    width: 50%;
  }
  &-wins, &-loses {
    color: $green;
    & p, & span {
      text-transform: uppercase;
      font-size: 3rem;
    }
  }
  &-loses {
    color: $red;
  }
}


// COMBAT HISTORY
.combat-history {
  text-align: center;
  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .3rem solid;
    border-bottom-color: rgba(#000, .8);
    height: 6rem;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    & i {
      margin-left: 1rem;
      color: #fff;
      font-size: $title;
      @include for-size(desktop-up) {
        font-size: $desktopTitle;
      }
    }
  }
  &-title {
    font-family: 'Oswald-Light';
    font-size: $title;
    color: #FFF;
    @include for-size(desktop-up) {
      font-size: $desktopTitle;
    }
  }
  &-overlay {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    background: rgba(#0F0F0F, 0.8);
    border-bottom-right-radius: 2%;
    border-bottom-left-radius: 2%;
    @include for-size(desktop-up) {
      width: 70%;
      font-size: $desktopTitle;
    }
    &-result {
      color: #fff;
      text-transform: uppercase;
      &-title h2, &-title span {
        font-size: $title;
        margin-bottom: 3rem;
        @include for-size(desktop-up) {
          font-size: $desktopTitle;
        }
      }
      &-win-lose {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0 2rem;
        @include for-size(desktop-up) {
          padding: 0 15rem;
        }
        &-1 span, &-1 p {
          font-size: $details;
          @include for-size(desktop-up) {
            font-size: $desktopDetails;
          }
        }
      }
    }
  }
}

// MY ALIENS
.profile-aliens {
  margin-top: 3rem;
  &-title {
    font-size: $title;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    @include for-size(desktop-up) {
      font-size: $desktopTitle;
    }
  }
  &-cards {
    display: flex;
    flex-direction: column;
    @include for-size(desktop-up) {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
  }
  &-alien-card {
    display: flex;
    justify-content: center;
    height: 40rem;
    width: 80%;
    margin: 5rem auto;
    background: rgba(#000, .8);
    @include for-size(desktop-up) {
      width: 30%;
      flex-wrap: wrap;
    }
    &-img {
      margin-top: 5rem;
      height: 20rem;
      width: 15rem; 
      & img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

//FIXES

.profile-background {
  background: rgba(#0F0F0F, 0.4);
}

.link {
  color: #3EB8AB;
  font-size: $details;
  @include for-size(desktop-up) {
    font-size: $desktopDetails;
  }
}

.edit {
  & img {
    margin-top: 2rem;
  }
}

.margin-fix {
  margin: 0 2.9rem 0 0;
  line-height: 1.8rem;
}