.rules {
  color: #fefefe;
  padding: 0 6rem;
  font-family: 'Oswald-Regular';
  background: #000;
  // TITLE
  &-title {
    margin: 12rem auto 5rem auto;
    text-align: center;
    width: 100%;
    &-item {
      height: 21.7rem;
      width: 20rem;
    }
  }
  // FIGHT RULES
  &-fight, &-bet, &-adopt {
    &-title {
      margin-bottom: 0.8rem;
      font-size: 1.8rem;
      line-height: 2.7rem;
      color: #3aa89c;
    }
    &-text {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
    }
  }
}

.bolder {
  font-weight: bold;
}