{% extends "base.html.twig" %}

{% block body %}
    {{ parent() }}
<div class="rules">
    <section class="rules-title">
        <img class="rules-title-item" src="../assets/imgs/reglement.png" alt="L.I.C.A Rules">
    </section>

    <section class="rules-fight">
        <h2 class="rules-fight-title">1/Les combats</h2>
        <p class="rules-fight-text bolder">
            Les préparatifs
        </p>
        <p class="rules-fight-text">
            Une fois le combat présent sur le planning, une commission mixte paritaire d’officiels écrit un
            contrat spécifiant l’accord des entraîneurs des combattants et ainsi validant le combat.
        </p>
        <p class="rules-fight-text">
            Parallèlement, un combattant doit être présent lors de la réunion de la présentation des
            règles de combat et au plustard une heure avant le début de l’évènement. Il peut néanmoins
            envoyer un représentant à sa place lors de ce briefing.
        </p>
        <p class="rules-fight-text bolder">
            La durée
        </p>
        <p class="rules-fight-text">
            Un combat se déroule en 1 round de 10 minutes.
        </p>
        <p class="rules-fight-text bolder">
            Les issues possibles d'un combat.
        </p>
        <p class="rules-fight-text">
            Le KO ou Knockout : il s’agit de l’issue la plus évidente d’un combat, car l’adversaire n’est
            plus en mesure d’attaquer ou de se défendre. Le KO termine un affrontement lorsqu’un des
            combattants perd conscience à cause des coups qu’il a encaissés.
        </p>
        <p class="rules-fight-text">
            Le TKO ou KO Technique : c’est une décision prise par l’arbitre. Ce dernier est
            encore conscient, mais n’est plus en mesure de combattre normalement.
        </p>
        <p class="rules-fight-text">
            Le Technical Decision (TD) : Le jury choisit le vainqueur selon une décision unanime ou
            partagée, en considérant que l’affrontement a écoulé la limite normale de temps.
        </p>
    </section>

    <section class="rules-bet">
        <h2 class="rules-bet-title">2/Les Paris</h2>
        <p class="rules-bet-text">
            Un pari peut être effectué à tout heure de la journée.
        </p>
        <p class="rules-bet-text">
            Tout pari sur les combats de ses propres aliens est interdit.
        </p>
        <p class="rules-bet-text">
            A partir du moment où la commission d’officiels déclare le combats valide, tout pari peut être effectué.
        </p>
        <p class="rules-bet-text">
            Chaque joueur ne peut effectué qu’un unique pari par combat mais peut effectué plusieurs paris sur diffèrents combats.
        </p>
        <p class="rules-bet-text">
            La côte de chaque combattant varie en fonction son potentiel et son palmarès ainsi que de son opposant.
        </p>
        <p class="rules-bet-text">
            En cas de victoire, le gain sera disponible instantanément après la fin du combat.
        </p>
    </section>

    <section class="rules-adopt">
        <h2 class="rules-adopt-title">3/Les adoptions</h2>
        <p class="rules-adopt-text">
            Tout d’abord une participation financière vous sera demandée. Le montant est défini suivant le potentiel et le palmarès de l’alien cible.
        </p>
        <p class="rules-adopt-text">
            Attention à ne pas tomber dans l’excès avec un alien que vous avez adopté. Ce n’est pas parce qu’il a souffert auparavant que, pour autant,
            il faut trop lui donner. Par exemple, certains maîtres donnent plus de nourriture qu’il n’en faut à leurs aliens. Même si cela part d’un bon
            sentiment, cette attitude risque, à terme, d’avoir des conséquences néfastes sur la santé de l’alien.
        </p>
        <p class="rules-adopt-text">
            De même, ne cherchez pas à forcer son affection, mais laissez-le venir à vous. Parlez-lui, occupez-vous de lui mais ne le brusquez pas.
            Vous arriverez plus vite au résultat attendu. Effectivement, cela prend parfois du temps et, comme on l’a vu précédemment, patience et
            compréhension seront les clés de la réussite, sans quoi il ne sert à rien d’adopter un alien.
        </p>
        <p class="rules-adopt-text">
            Adopter un alien ne signifie pas non plus que vous ne pourrez plus le ramener à la LICA en cas de problème. En effet, comme vous avez
            pu le voir précédemment, certains aliens ne s’habituent jamais au fait d’avoir un nouveau maître. Dans ces conditions,
            vous pourrez contacter la LICA en justifiant le retour de l’alien.
        </p>
        <p class="rules-adopt-text">
            A priori, il n’existe pas de délai limite pour ramener un alien. Cependant, vous pouvez être quasiment sûr que vous ne récupérerez pas la somme
            versée lors de l’adoption. Il vous sera certainement remis un bon d’adoption afin de prendre en charge un nouveau alien.
        </p>
        <p class="rules-adopt-text">
            Concernant la propreté de l’alien, dans un premier temps, ce sera à vous d’éviter les drames dans la maison en rangeant les tapis de sol ou en
            limitant les accès aux moquettes fragiles. Vous pourrez tout réinstaller une fois que vous serez sûr qu’il a de bonnes habitudes.
        </p>
    </section>
</div>
{% endblock %}
