@mixin for-size($range) {
  $phone-upper-boundary: $bp-tablet;
  $tablet-upper-boundary: $bp-desktop;
  $desktop-upper-boundary: $bp-desktop-large;

  @if $range == tablet-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-upper-boundary) { @content; }
  } @else if $range == desktop-lg-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}