@mixin for-size($range) {
  $phone-upper-boundary: 640px;
  $tablet-upper-boundary: 1140px;
  $desktop-upper-boundary: 1800px;

  @if $range == tablet-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-upper-boundary) { @content; }
  } @else if $range == desktop-lg-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}