// Color
$green: #3EB8AB;
$yellow: #FFE55C;
$red: #A83A3A;


// Font-size

$largeTitle : 3.2rem;
$title: 2.4rem;
$details: 1.2rem;

// Font-size Desktop

$desktopLargeTitle: 4.5rem;
$desktopTitle: 3rem;
$desktopDetails: 2.4rem;

// Breakpoint
$bp-tablet: 640px;
$bp-desktop: 900px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
