<<<<<<< HEAD
// Font
$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Arial', 'Helvetica', sans-serif;

=======
>>>>>>> bb4a8e16bb460909fdf4982d9632fd75be512e6d
// Color
$green: #3EB8AB;
$yellow: #FFE55C;
$red: #A83A3A;


// Font-size

$largeTitle : 3.2rem;
<<<<<<< HEAD
$title : 2.4rem;
$details : 1.2rem;


// Breakpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;

html {
  font-size: 62.5%;
}
=======
$title: 2.4rem;
$details: 1.2rem;

// Font-size Desktop

$desktopLargeTitle: 4.5rem;
$desktopTitle: 3rem;
$desktopDetails: 2.4rem;

// Breakpoint
$bp-tablet: 640px;
$bp-desktop: 900px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
>>>>>>> bb4a8e16bb460909fdf4982d9632fd75be512e6d
